mixin normalize
  link(
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com"
      + "/ajax/libs/normalize/7.0.0/normalize.min.css"
  )

mixin requirejs
  script(
    data-main="./index.js"
    src="https://cdn.jsdelivr.net/"
      + "npm/alameda@1.2.0/alameda.min.js")
