html
  
  head
  
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    link(rel='shortcut icon' href='/images/favicon.ico')
    
    style: include:stylus index.styl
    style: include:stylus x-editor.styl
    style: include:stylus x-markdown.styl
    
    script(src="./index.js")
      
body
  
  h1 Blurb9
  
  p Tested in latest versions of Chrome and Safari. Does not work in Firefox.
  
  main
    x-tabs

      label(slot="editor-label") Markdown
      x-editor(slot="editor-content")          

      label(slot="markdown-label") Preview
      x-markdown(slot="markdown-content")
