@import "//cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css"

@require "_helpers"

@import url(google-font("Righteous"))
@import url(google-font("Lato"))

body
  display flex
  flex-flow column nowrap
  padding 2rem

  h1
    font-family "Righteous", sans-serif
    color #38a
    letter-spacing 1.5
    text-transform uppercase
    margin-bottom 0

  p
    font-family "Lato"

  main

    display flex
    flex-flow row nowrap

    flex 1 1 0

    & > x-tabs

      flex 1 1 0
      font-size 12pt
      margin-right 2rem
      padding 1rem
      border 1px solid silver

      & > label
        display block
        padding 0.5 0
        font-family sans-serif
        font-size 0.7rem
        line-height 1rem
        letter-spacing 1.2
        color silver
        text-transform uppercase
        cursor pointer

        &.selected
          color gray

      & > x-editor
        flex 1 1 0
        padding-top 2rem

      & > x-markdown
        flex 1 1 0
        line-height 1.4
