@require "_helpers"

@import url(google-font("Josefin Sans"))
@import url(google-font("Libre Baskerville"))

x-markdown :host

  div
    font-size 1.5rem
    line-height 2rem


  h1, h2, h3, h4, h5
    font-family "Josefin Sans", sans-serif

  h1
    line-height 7rem
    font-size 6.3rem
    border-bottom 1px solid silver

  h2
    line-height 6rem
    font-size 5.4rem


  p, li
    font-family "Libre Baskerville", sans-serif

  img
    max-width 90%
